<header>
    <h1>Спиок доступных изображений</h1>
</header>

<div class="container">
    <div class="row">
    {% if images|length == 0 %}
        <p>Нет доступных изображений</p>    
    {% else %}
        {% for image in images %}
            <div class="col-md-4">
            <a href={% url 'image_view' image.get_hash %} > {{ image.image.name }}</a>
            </div>
        {% endfor%}
    {% endif %}
    </div>
</div>

<footer>
    <div>
        <a href="/img_resizer/upload/">Добавить изображение</a>
    </div>
</footer>

