<a href="/upload/">UPLOAD</a>

<div class="container">
    <div class="row">
 
    {% for image in images %}
    <div class="col-md-4">
        <a href={{ image.get_absolute_url }}><img src="{{image.image.url }}" class="img-responsive img-thumbnail" width="304" height="236"/></a>
            
    </div>
    {% endfor%}
    </div>
</div>